__pycache__/
dist/
*.py[cod]
*$py.class
*.egg-info/
.DS_Store
.idea/
.ruff_cache/

# Ignore directories
configs/
logs/
scripts/
old/
analysis/
analysis_neurips/
grids_neurips/

# Ignore specific files
create.py
utils/download_data.py


# Virtual environment
venv
